/*
i_green: '#ee9f2d',
i_blue: '#168bcd'
*/

.features {
    background-color: #FFF;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
}

.features .row {
    margin-bottom:0;
}

.feature_thumbnail {
    padding: 2rem !important;
    padding-top: 0 !important;
    overflow: hidden;
}

.feature_thumbnail img {
    width: 50%;
}

.feature_thumbnail h1{
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #168bcd;
    margin-top: 0;
}