.footer {
    
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: #494f55;
}

.footer .left {
    padding: 46px 17px;
}

.footer .right {
    margin-top: 6px;
}

.mr-30 {
    margin: 20px;
    
}

.footer ul {
    float: left;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
}

.footer li {
    float: right;
}

.footer li a {
    display: block;
    padding: 16px 8px;
    color: #8b939b;
}

.footer li a:hover {
    color: #2794eb;
    text-decoration-color: #1588e3;
    text-decoration: underline;
    text-decoration-style: dotted;
}
 
.copyright { 
    padding: 12px !important; 
    margin-top: 3px; 
    text-align: center; 
    color: #146CB5; 
    font-size: 14px; 
    margin-bottom: -20px;
}

/* XXS, XS 
   Styles for 
*/
.xs-display-li {
    float: none !important;
}
.footer .xs-right {
    margin-top: -35% !important;
}

/* S */
.s-display-li {
    float: left !important;
}
.s-right {
    float: right;
    margin-top: -13% !important;
    margin-right: 5%;
}
.footer .s-left {
    padding: 34px 30px;
}

/** M **/
.footer .m-left {
    padding: 34px 8%;
}
.footer .m-right {
    margin-top: -3% !important;
    margin-right: 10%;
}
