.footer {
    position: relative;
    height: 69px;
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: #38435a;
    padding: 8px;
    padding-right: 20px;
    margin-top: 12%;
 }

.menu { float: left; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li { float: right; }

li a {
    display: block;
    color: white;
    padding: 16px;
}

li a:hover { background-color: #424f6a; }
 
 .copyright {
     padding: 12px;
     background-color: #e1f0fc;
     margin-top: 3px;
     text-align: center;
     color: #38435a;
     font-weight: bold;
     font-size: 14px;
 }