.footer {
    position: relative;
    height: 130px;
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: #494f55;
}

.footer .left {
    padding: 34px 17px;
}

.footer .right {
    margin-top: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.footer ul {
    float: left;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
}

.footer li {
    float: right;
}

.footer li a {
    display: block;
    padding: 16px;
    color: #8b939b;
}

.footer li a:hover {
    color: #2794eb;
    text-decoration-color: #1588e3;
    text-decoration: underline;
    text-decoration-style: dotted;
}
 
.copyright { 
    padding: 12px; 
    margin-top: 3px; 
    text-align: center; 
    color: #146CB5; 
    font-size: 14px; 
    font-weight: bold;
    margin-bottom: -20px;
}