/*
    i_green: '#72C168',
    i_blue: '#146CB5'
*/

.parallax_header {
    font-size: 3rem;
    font-weight: bold;
    color:#146CB5;
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.parallax_text {
    font-size: 1rem;
    color:#585A61;
    margin: 0;
    margin-left: 2px;
}

.parrallax_left {
    text-align: center;
}

.parrallax_right {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrallax_right button {
    background-color: #72C168;
    padding: 10px 20px;
    font-size: 2rem;
    margin: 2rem;
    height: auto;
}

.parrallax_right button:hover {
    background-color: #146CB5;
}