/*
    i_green = '#72C168';
    i_blue = '#146CB5';
*/

.sideMenu {
    height: 100%; 
    top:auto;
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 1px 5px 0 rgba(0,0,0,0.12), 
                0 3px 1px -2px rgba(0,0,0,0.2);
}

.sideMenu input[type="radio"] .label {
    color: rgba(0,0,0,0.87);
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #72C168;
    border: 2px solid #72C168;;
}
.sideMenu .selector {
    max-height: 150px;
}

.sideMenu h1 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: 0;
    background-color: #146CB5;
    font-family: Dosis,sans-serif;
    font-size: 20px; 
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    color: white;
}

.sideMenu h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #72C168;
    margin-top: .75rem;
    margin-bottom: .75rem;
    cursor: text;
    transition: .2s ease-out;
}

.sideMenu .rangeValues {
    background-color: #146CB5;
    color: white;
    font-size: .75rem;
    border-radius: 10px 0px 10px 0px;
    padding: 5px 10px;
    float: left;
}

.select-wrapper ul{
    max-height: 300px
}

.buttonSideMenu {
    position: fixed;
    top: 46%;
    height: 80px;
    padding: 20px;
    margin-left: -50px;
}

.addButton {
    background-color: #72C168;
}

.addButton:before {
    background: #950006;
    border: none;
    content: '';
    display: block;
    height: 20px;
    left: 90px;
    position: absolute;
    top: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 21px;
}
