/*
* @style     Styles from Slider.jsx
* @version   1.0
* @author    Intersys Consulting, Inc  
*/

.card a {
    color: #146CB5;
}

.card .card-image img {
    transition-duration: 0.6s;
}
.card .card-image img:hover {
    transform: scale(1.1);
}