/*
i_green: '#72C168',
i_blue: '#146CB5'
*/

.stack_container {
    background-color: #146CB5;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stack_container .row {
    margin-bottom:0;
}

.feature_thumbnail {
    padding: 2rem !important;
}

.feature_thumbnail img {
    width: 50%;
}

.feature_thumbnail h1{
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #146CB5;
    margin-top: 0;
}