/*
i_green: '#ee9f2d',
i_blue: '#168bcd'
*/

.stack_container {
    background-color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.stack_container h1 {
    margin: 10px;
    font-size: 1.2rem;
    color: #494f55;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
}

.stack_container .row {
    margin-bottom:0;
}

.stack_thumbnail {
    padding: 20px 10px !important;
    line-height: 5px;
    width: 200px;
    float: left
}

.stack_thumbnail img {
    height: 50px;
}